/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

/*-----------------------------------------*/
/* navigation */
.navbar-brand {
  color: #FFE000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  font-family: 'Pacifico' !important;
  font-size: 28px;
  font-weight: 400;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-item a {
  text-decoration: none;
  color: #FFF;
  font-family: Catamaran;
  font-size: 18px;
  padding-left: 15px;
}

.nav-item a:hover {
  color: #FFE000;
}

/*-----------------------------------------*/
/* hero */
.mountain-bg {
  background-image: url(../images/bg-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.masthead .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-text h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  color: #FFF;
  font-family: Catamaran;
  font-size: 50px;
  line-height: 102.5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-text h1 strong {
  font-weight: 700;
}

.hero-text button {
  width: 335px;
  height: 65px;
  border-radius: 100px;
  border: 1px solid #FFF;
  background: none;
}

.device-container img {
  height: 85vh;
  margin-top: 50px;
  margin-bottom: 50px; 
}

/*-----------------------------------------*/
/* download section */
.download {
  background: #FDC949;
}

.download .container .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download h2 {
  color: #000;
  text-align: center;
  font-family: Catamaran;
  font-size: 50px;
  font-weight: 300;
  line-height: 113%;
  letter-spacing: -0.5px;
}

.download p {
  color: #000;
  text-align: center !important;
  font-family: Catamaran;
  font-size: 20px;
  font-weight: 500;
  line-height: 113%; /* 29.38px */
  letter-spacing: 0.52px;
  padding-top: 23px;
  padding-bottom: 20px;
}

.badges a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.badges a img {
  padding: 0 5px 0 5px;
}

/*-----------------------------------------*/
/* Testimonials */
.testimonials {
  background: #F8F9FA;
}

#features .container, #signup-box, .testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial-item img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.testimonial-item h5 {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Catamaran;
  font-size: 26px;
  font-weight: 500;
  line-height: 113%;
  letter-spacing: 0.52px;
  padding-top: 20px;
}

.testimonial-item p {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Catamaran;
  font-size: 20px;
  line-height: 113%;
  letter-spacing: 0.52px;
}

/*-----------------------------------------*/
/* Sign up */
.signup-section {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.5) 75%,
    #000000 100%
    ),
    url('../images/SF.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#signup .container {
  padding-bottom: 130px;
}

.signup-section h2 {
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.signup-section form{
  margin-left: auto;
  margin-right: auto;
  max-width: 710px;
}

.signup-section input {
  width: 500px;
  height: 80px;
  flex-shrink: 0;
  fill: #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.signup-section button {
  width: 200px;
  height: 80px;
  border-radius: 100px;
  font-size: 19px;
}

/*-----------------------------------------*/
/* contact */
.card {
  border-radius: 4px;
  background: #FFF;
  margin-left: 28px;
  margin-right: 28px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body h4 {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Catamaran;
  font-size: 22px;
  font-weight: 700;
  line-height: 113%;
  letter-spacing: 0.44px;
}

.card-body div {
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: Catamaran;
  font-size: 18px;
  line-height: 113%; /* 24.86px */
  letter-spacing: 0.44px;
  padding-left: 125px;
  padding-right: 125px;
}

.social {
 margin-top: 50px;
}

.social a {
  color: rgba(255, 255, 255, 0.50);
  background-color: #3d3d3d;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 11px 0;
}

/*-----------------------------------------*/
/* footer */
footer {
  height: 100px;
  background-color: #707070;
}

footer p {
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.50);
  text-align: center;
  font-family: Open Sans;
}

/*-----------------------------------------*/
/* media queries */
@media only screen and (max-width: 600px) {
  .signup-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
